*{
  margin: 0;
  padding: 0;
}

p{
  font-size: 23px;
}

body{
  border-left: 200px solid black;
  border-right: 200px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #DCDCDC;
}

img{
  height: 20px;
}

.a{
  height: 3000px;
}

.menu{
  background: #D3D3D3;
}

.nome{
  font-family: arial;
  float: left;
  font-size: 30px;
  margin-top: 3%;
  margin-left: 10%;
  font-family: 'Hind Madurai', sans-serif;
}

.complemento h2{
    margin-left: 60px;
}

.complemento ul{
  margin-left: 8.5%;
  font-size: 23px;
  margin-right: 9%;
  text-align: justify;
}

.complemento p{
    margin-left: 9%;
    margin-right: 9%;
    text-align: justify;
}

.complemento p, ul{
  font-family: 'Oswald', sans-serif;
}

.menu{
  padding: 0px;
  margin: 0px;
}

.inf{
  padding: 3.7%;
  text-align: right;
}

.complemento h2, p{
  margin-left: 60px;
  margin-top: 1.3%;
  text-align: justify;
}

.lado{
  float: right;
  margin-top: -67px;
}

.img{
  height: 25px;
}
